{% extends 'master.html' %}

{% load static %}


{% block landing %}
<div class="" style="background-image: url('{% static '/images/hands.png' %}'); 
background-size:cover; background-repeat: no-repeat; filter: brightness(90%);">
    <div class="container-fluid text-center">
        <div class="text-center">
            <h1 class="display-1 text-success pt-2">Connect with <strong>Volunteers</strong></d1>
                <h2 class="mt-2"> Free and Easy Sign Up Sheets</h2>
                <p>Save time and improve volunteer communication</p>
                <div>

                    <a href="/events" class="btn btn-success btn m-3" role="button">Create an Event</a>

                    <a href="/events" class="btn btn-secondary btn m-3 text-success" role="button">Find an Event</a>
                </div>
        </div>

    </div>
</div>
<div class="container mt-3">
<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <img src="{% static '/images/hands.png' %}" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="{% static '/images/hands.png' %}" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="{% static '/images/hands.png' %}" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
</div>

<pre>



  </pre>
{% endblock %}

</div>