{% extends 'master.html' %}

{% block content %}
<h1> My Dashboard</h1>
<div class="float-end">
    <form action="" method="post">
        {% csrf_token %}
        {{form.name}}
        <input type="submit" value="Save and Continue" class="btn-success" />
    </form>
</div>


{% if events %}
    <p>These are events your created</p>
{% else %}
    <p>No events are available.</p>
{% endif %}


<table class="table">
    <tr>
        <th>Event Name</th>
        <th># Tasks</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.name }}
            <a href="{% url 'events:eventupdate' event.id %}" class="text-success"><i class="bi bi-pencil"></i></a>
            <a href="{% url 'events:eventdelete' event.id %}" class="text-danger"><i class="bi bi-trash "></i></a>
            

        </td>
        <td><a href="{% url 'events:tasklist' event.id %}" class="text-primary">{{ event.count_task }}</a></td>
        <td>{{ event.start_task_date | date:"m/d/Y" }} </td>
        <td>{{ event.end_task_date | date:"m/d/Y"}} </td>
        

    </tr>


    {% endfor %}
</table>



{% endblock %}