{% extends 'master.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <h1> Event Listing</h1>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <form method="get">
                    <div class="input-group mb-2">
                        {{form}}
                        <button type="submit"> <i class="bi bi-search text-success"></i> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>










<table class="table">
    <tr>
        <th>Organization</th>
        <th>Event Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.organization}}</td>
        <td>{{ event.name }} </td>
        <td>{{ event.start_task_date | date:"m/d/Y" }} </td>
        <td>{{ event.end_task_date | date:"m/d/Y"}} </td>
      
    </tr>


    {% endfor %}
</table>



{% endblock %}