{% extends 'master.html' %}

{% block content %}

<h1> Task List :{% with event=events|first %}
    <strong>{{ event.name}}</strong>
    {% endwith %}
</h1>



<form method="POST" class="">
    {% csrf_token %}
    {{ task.task }}
    <div class="table-responsive">
        <table class="table">
            <tr class="bg-info">
                <th>Task Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Volunteer</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.task }}
                    <a href="{% url 'events:taskupdate' task.id %}" class="text-success"><i class="bi bi-pencil"></i></a>
                </td>
                <td>{{ task.description }} </td>
                <td>{{ task.task_date | date:"m/d/Y"}} </td>
                <td>{{ task.start_time }} </td>
                <td>{{ task.end_time }}</td>
                <td>{{ task.volunteer }}</td>
            </tr>

            {% endfor %} <div class="mt-3 float-end">
                <a href="{% url 'events:index' %}" class='btn btn-warning pull-right'>Cancel and Return</a>


        </table>
    </div>

</form>
<hr>
<h2>Add a New Task</h2>
<div class="row">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% csrf_token %}
            <div class="row">
                <strong>{{form.task.label}}</strong>
                {{ form.task }}
            </div>
            <div class="row mt-3">
                <strong>{{form.description.label}}</strong>
                {{ form.description }}
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <strong>{{form.task_date.label}}</strong>
                    {{ form.task_date}}
                </div>
                <div class="col-md-4">
                    <strong>{{form.start_time.label}}</strong>
                    {{ form.start_time}}
                </div>
                <div class="col-md-4">
                    <strong>{{form.end_time.label}}</strong>
                    {{ form.end_time}}
                </div>
            </div>
            <div class="row mt-3">
                <strong>{{form.volunteer.label}}</strong>
                {{ form.volunteer }}
            </div>

        </fieldset>
        <div class="float-end">
            <input type="submit" value="Add task" class="btn-success" />
        </div>
    </form>
</div>



<pre>


</pre>

{% endblock %}